modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
INSTAWORK_BASE_URL = "https://app.instawork.com"
INSTAWORK_CLIENT_ID = "AO4DRpkSLud8BLwCH5u30iN041YWYQCQrzY0h6Qu"
INSTAWORK_CLIENT_SECRET = "0bctCrJJ972VA64CXpKg4B7wbVjBJpSDy3KVQK5zZCmAeW3dvcEi40Dwbay89weFhxCO0ttGidMjd1aSwzyQazcGDWpOKR9q4NxUsAm4zRhzlNKwZcxQ7Y6Loeu6Qq2t"
SESSION_SECRET = "0oQmocaUrv9ph1eZjumuEaKor0KdtaO82WQCeRqgXGBNC3d6MAYcZA8UtFQ6t0mk0yCPLl3VS5y5uQL0MF+kyg=="
